/* your code here */
body{
	margin:0px;
	padding:0px;
	background-color:black;
	color:white;
}
.top{
	display:flex;
	justify-content:space-between;
}
.link-boxes{
	display:flex;
	justify-content:space-between;
	
}

.bottom-details{
	display:flex;
	justify-content:space-between;
	background-color:gray;
	height:60px;
}
